.addCreeper {
  background: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(193, 193, 193, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  height: 220px;
  width: 260px;
  flex-grow: 1;
}

.addCreeperButton {
  text-align: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 575;
  font-size: 106px;
  color: rgba(193, 193, 193, 0.5);
  font-variation-settings: "slnt" 0;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.form {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 18px;
  padding: 5px;
  width: 100%;
  color: unset;
}

.submit {
  font: inherit;
  width: 100%;
}

.status {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  text-align: center;
}
