.button {
  padding: 8px 30px;
  color: white;
  border: none;
  background: #0066ff;
  border-bottom: 1px solid #1c77ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 0px #003d98;
  border-radius: 37px;
  min-width: 55px;
  min-height: 34px;
  font-size: 23px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: transform, box-shadow;
}

.button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}

.buttonBlue {
  color: white;
  background: #0066ff;
  border-bottom: 1px solid #1c77ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 0px #003d98;
}

.buttonGrey {
  color: black;
  background: #f0f0f0;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 0px #bababa;
}

.buttonRed {
  color: white;
  background: #ff0055;
  border-bottom: 1px solid #ff3e6e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 0px #980054;
}

.buttonBlue:hover,
.buttonBlue:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px #003d98;
}

.buttonGrey:hover,
.buttonGrey:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px #bababa;
}

.buttonRed:hover,
.buttonRed:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px #003d55;
}
